@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Cor de fundo*/
  --background: #f6f6f6;
  --background-secundario: #c1c1c1;

  /* Cor do texto*/
  --cor-principal: #2196f3;
  --cor-secundaria: #3627d9;
  --cor-contraste: #7027d9;
  --cor-contraste2: #000;

  /* Fonte*/
  --fonte-principal: "Montserrat", serif;

  /* Sombra */
  --sombra: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#indicador {
  width: 0;
  height: 0.35rem;
  /* background-color: var(--cor-principal); */
  background-color: var(--cor-contraste);
  position: fixed;
  top: 0;
  z-index: 2;
}

body {
  width: 100%;
  background-color: var(--background);
  /* color: var(--background-secundario); */
  font-family: var(--fonte-principal);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  width: 100%;
  max-width: 1400px;
  min-width: 320px;
  height: 80px;
  background-color: var(--background);
  color: var(--cor-contraste2);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  z-index: 1;
}

.div-hamburguer {
  display: none;
}

#menu-hamburguer {
  color: #000;
}

header div.logo {
  display: flex;
  line-height: 25px;
  flex-direction: column;
  cursor: pointer;
}

/* Logo Site primeiro texto */
header div.logo span.logo-1 {
  font-weight: 500;
  font-size: 1.5rem;
  text-shadow: var(--sombra);
}

/* Logo Site segundo texto */
header div.logo span.logo-2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: var(--sombra);
  color: var(--cor-principal);
}

header nav.nav-list {
  visibility: visible;
}

header nav.nav-list ul.list-nav {
  display: grid;
  grid-template-columns: repeat(6, 0.8fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

/* Item de navegação */
header nav.nav-list ul.list-nav li {
  text-align: center;
  /* padding: 10px; */
  width: 80%;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  transition: all 0.5s;
}

header nav.nav-list ul.list-nav li:hover {
  background-color: var(--cor-contraste2);
  transition: all 0.5s;
  opacity: 0.7;
}

header nav.nav-list ul.list-nav li {
  opacity: 0.7;
}

/* link de navegação */
header nav.nav-list ul.list-nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  text-shadow: var(--sombra);
}

header nav.nav-list ul.list-nav li a:hover {
  color: var(--cor-principal);
  transition: all 0.5s;
}

header nav.nav-list ul.list-nav li a:active {
  opacity: 0.7;
}

/* Botão contatos */

.button {
  width: 100%;
  height: 100%;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.button button {
  background-color: var(--cor-principal);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  transition: color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}

header .button button:active {
  opacity: 0.6;
}

header .button button:hover {
  background-color: var(--cor-contraste2);
  color: var(--cor-principal);
  transition: color 0.5s;
  transition: background-color 0.5s;
}

/* main */
main {
  width: 100%;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;
}
main .sobre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
/* seção informações do main */
.conteiner-informacoes {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: start;
  /* align-items: center; */
}
.conteiner-informacoes h1 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: capitalize;
  text-shadow: var(--sombra);
}
.conteiner-informacoes h1 #auto-escrita {
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;
  background-color: var(--cor-principal);
}
.conteiner-informacoes p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  text-transform: capitalize;
  /* text-indent: 35px; */
  text-align: justify;
  text-shadow: var(--sombra);
}
.conteiner-informacoes button {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--cor-principal);
  color: #fff;
  box-shadow: var(--sombra);
  cursor: pointer;
}
.conteiner-informacoes button:hover {
  opacity: 0.7;
}

/* Imagem do main */
.conteiner-img {
  width: 350px;
  height: 350px;
}
.conteiner-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .blog {
  width: 100%;
  padding: 40px 20px;
  background-color: var(--cor-principal);
}

.conteiner-blog {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;
}

main .blog .header-blog {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
main .blog .header-blog span.titulo {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}
main .blog .header-blog span.ver-mais {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
main .blog .posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

main .blog .conteiner-blog .posts .post {
  background-color: #fff;
  /* border: 2px solid black; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}

main .blog .posts .post.post-ativo {
  display: flex;
}

main .blog .posts .post h1 {
  font-weight: bolder;
  text-transform: capitalize;
  text-shadow: var(--sombra);
}
main .blog .posts .post span {
  font-size: 0.9rem;
  font-style: italic;
  text-shadow: var(--sombra);
}
main .blog .posts .post p {
  text-shadow: var(--sombra);
  text-align: justify;
}

/* Footer */
footer {
  width: 100%;
  min-width: 320px;
  background-color: var(--cor-principal);
  margin: auto;
  position: relative;
  bottom: 0;
  /* opacity: 0.6; */
}

footer div {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

footer div span {
  color: #fff;
}

footer a {
  text-decoration: none;
}

.ph {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.icones {
  display: flex;
  /* flex-direction: ; */
  flex-direction: row;
}

.icones a {
  display: block;
}
